*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Segoe UI',sans-serif;

    background:
    linear-gradient(
        180deg,
        #fff7fb,
        #f4efff
    );

}

header{

    padding:50px 20px;

    text-align:center;

    background:
    linear-gradient(
        135deg,
        #ffd9ea,
        #e6d5ff
    );

}

header h1{

    font-size:2.2rem;

    color:#6d28d9;

}

header p{

    margin-top:10px;

    color:#555;

}

.hero-tag{

    margin-top:15px;

    display:inline-block;

    padding:10px 20px;

    background:white;

    border-radius:50px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);

}

.menu{

    position:sticky;

    top:0;

    display:flex;

    overflow-x:auto;

    gap:10px;

    padding:15px;

    background:white;

    z-index:999;

    box-shadow:
    0 2px 15px rgba(0,0,0,.08);

}

.menu a{

    text-decoration:none;

    color:#6d28d9;

    background:#f4efff;

    padding:10px 16px;

    border-radius:30px;

    white-space:nowrap;

    font-weight:bold;

}

.catalogo{

    padding:15px;

}

.grid{

    display:grid;

    grid-template-columns:
    repeat(2,1fr);

    gap:15px;

}

.product-card{

    background:white;

    border-radius:24px;

    overflow:hidden;

    box-shadow:
    0 8px 20px rgba(0,0,0,.08);

    opacity:0;

    transform:
    translateY(50px)
    scale(.9);

    transition:all .8s ease;

}

.product-card.show{

    opacity:1;

    transform:
    translateY(0)
    scale(1);

}

.product-card img{

    width:100%;

    height:240px;

    object-fit:contain;

    background:white;

    transition:.7s;

}

.product-card:hover img{

    transform:scale(1.08);

}

.product-card:hover{

    transform:
    translateY(-8px);

}

.info{

    padding:12px;

    text-align:center;

}

.info h3{

    font-size:.95rem;

    color:#444;

}

.precio{

    margin-top:6px;

    color:#e91e63;

    font-weight:bold;

}

footer{

    margin-top:30px;

    text-align:center;

    padding:30px;

    color:#666;

}

@media(max-width:480px){

    .grid{

        grid-template-columns:
        repeat(2,1fr);

    }

    .product-card img{

        height:180px;

    }

}
